<%- include('./partials/head') %>
<main class="container">
    <article class="item">
        <% if (itemData) { %>
            <h2><%= itemData.title %></h2>
            <figure>
                <img src="https://fdnd-agency.directus.app/assets/<%= itemData.image %>" width="300" height="150">
            </figure>
            <section>
                <h3>Short Description</h3>
                <%= itemData.long_description %>
            </section>
            <a href="/contact" class="contact-button">Contact Us</a>
        <% } else { %>
            <p>Item not found</p>
        <% } %>
    </article>

    
    <aside class="contact-form">
        <h2>Kom in Contact</h2>
        <form id="contactForm">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="message">Message:</label>
            <textarea id="message" name="message" rows="4" required></textarea>

            <button type="submit">Send Message</button>
        </form>
    </aside>
</main>
<%- include('./partials/foot') %>




